<div class="container flex-box">
  <div class="info">
    <h1>#<%= @game_session.chatroom.name %></h1>
    <span><%= @game_session.date.strftime("%m/%d/%Y") %></span>
    <span><%= @game_session.time.strftime("%l:%M %p") %></span>
    <p><%= @game_session.description %></p>
  </div>
  <div class="container">
    <%= render 'chatroom', chatroom: @chatroom %>
  </div>
</div>
