<div class="container">
  <div class="card">
    <div class="col-xs-10 col-sm-8">
      <%= simple_form_for @game_session do |f| %>
        <%= f.input :date, as: :date, html5: true %>
        <%= f.input :time %>
        <%= f.input :description %>
        <%= f.input :game_id, as: :hidden, input_html: {value: params[:id]} %>
        <%= f.submit class: 'btn btn-flat' %>
      <% end %>
    </div>
  </div>
</div>
