<div class="container flex-box mt-2">
  <div class="info">
    <h1 class="dash-title">#<%= @game_session.chatroom.name %></h1>
    <span class='font-tt'><%= @game_session.date.strftime("%m/%d/%Y") %></span>
    <span class='font-tt'><%= @game_session.time.strftime("%l:%M %p") %></span>
    <p><%= @game_session.description %></p>
  </div>
  <%= render '/chatrooms/chatroom', chatroom: @game_session.chatroom, members: @members %>
</div>
