<div class="container flex-box mt-2">
  <div class="info">
    <h1 class="dash-title">#<%= @game_session.chatroom.name %></h1>
    <span class='font-tt'><%= @game_session.date.strftime("%m/%d/%Y") %></span>
    <span class='font-tt'><%= @game_session.time.strftime("%l:%M %p") %></span>
    <p><%= @game_session.description %></p>
  </div>
  <%= render '/chatrooms/chatroom', chatroom: @game_session.chatroom, members: @members %>

  <div>
    <%= link_to 'edit', edit_game_session_path(@game_session), class: 'btn btn-flat' %>
    <%= link_to 'Delete ', game_session_path(@game_session), method: :delete, class: 'btn btn-cancel', data: { confirm: 'Are you sure you want to delete this Games Session?' } %>
  </div>
 </div>
