<div class="container flex-box">
  <div class="info">
    <h1>#<%= @game_session.chatroom.name %></h1>
<<<<<<< HEAD
    <span><%= @game_session.date.strftime("%m/%d/%Y") %></span>
    <span><%= @game_session.time.strftime("%l:%M %p") %></span>
    <p><%= @game_session.description %></p>
=======
    <span class='font-tt'><%= @game_session.date.strftime("%m/%d/%Y") %></span>
    <span class='font-tt'><%= @game_session.time.strftime("%l:%M %p") %></span>
>>>>>>> 0e2ee2df0ac8762acd848b92fc31fd72f338540e
  </div>
  <%= render '/chatrooms/chatroom', chatroom: @game_session.chatroom, members: @members %>
</div>
