<div class="container">
  <div class="info">
    <h1>#<%= @chatroom.name %></h1>
    <span class='font-tt'><%= @game_session.date.strftime("%m/%d/%Y") %></span>
    <span class='font-tt'><%= @game_session.time.strftime("%l:%M %p") %></span>
  </div>
  <div class="description">
    <p class='font-tt'><%= @game_session.description %></p>
  </div>
  <div class="chatroom">
    <%= render '/chatrooms/chatroom', chatroom: @chatroom %>
  </div>
</div>
