<div class="container flex-container pb-5">
  <div class="banner formbg">
    <div class="container">
      <%= simple_form_for @games_list do |f| %>
        <%= f.input :name %>
        <%= f.input :category %>
        <%= f.input :photo %>
        <%= f.association :games, input_html: { class: 'select2' } %>
        <%= f.submit class: 'btn btn-flat' %>
      <% end %>
      <%= link_to games_lists_path do %>
        <i class="fa fa-history"></i> Back to Lists
      <% end %>
    </div>
  </div>
</div>
