<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h3>Create a new Games list</h3>
        <%= simple_form_for @games_list do |f| %>
          <%= f.input :name, placeholder: 'My Favorites' %>
          <%= f.input :category %>
          <%= f.input :photo %>
          <%= f.association :games, prompt: 'Select a game', input_html: { class: 'select2' } %>
          <%= f.submit class: 'btn btn-flat' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
