<div class="container">
  <div class="container mt-5">
    <h3 class="dash-title"><%= current_user.nickname.capitalize %>'s Dashboard </h3>
  </div>
  <div class="container mb-5">
    <div class="row my-2">
      <% @games.last(15).each do |game| %>
        <div class="co-12 colsm-6 col-md-4 mb-3">
            <%= link_to game_path(game), class:'text-decoration-none' do %>
              <div class="card-category" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.1)), url(<%= game.thumbnail.present? ? game.thumbnail : asset_path('nigth-city.jpg') %>)">
                <div class="container">
                  <div class="Title">
                    <span class="title_hover"><%= game.name %>
                      <div class="Title__highlight"></div>
                    </span>
                    <div class="Title__underline"></div>
                    <div aria-hidden class="Title__filled"><%= game.name %></div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
      <% end %>
    </div>
  </div>
</div>
